body {background-color:black; font-family:arial; color:white;}
.maindiv{background-color:white; width:300px; padding:20px; font-color:black;
border-radius: 25px; align:center;}
h1{color:grey; font: verdana;}


