body {
    background-color:black; 
    font-family:arial; 
    color:white;
}
.maindiv{
    background-color:white; 
    width:400px; 
    padding:40px; 
    color:black;
    border-radius: 25px;
    text-align: center; 
    align:center;
    margin: 5px;
}
h1{
    color:grey; 
    font: verdana;
}
footer{
    align:left
}


